.appointment-container {
    background: white;
    width: 65vw;
    margin-left: 2em;
    border-radius: 10px;
}

.appointment-navbar {
    background: #bbc6fb36;
    padding: 1em;
    color: #797c7e;
    border-radius: 10px;
    margin-top: 2em;
}

.appointment-btn {
    font-weight: 600;
    color: #797c7e;
    padding: 0.5em 2em .5em 2em;
}

.appointment-btn-active {
    background: white;
    border-radius: 10px;
    color: #2d55ff;
}

.appointment-content {
    margin-top: 1em;
    height: 40vh;
    overflow-y: scroll;
    background: #bbc6fb36;
    border-radius: 10px;
}

.appointment-content-header {
    padding: 2em 2em 0 2em;
}

.appointment-content-header-heading {
    font-weight: 600;
    color: #45494b;
}

.appointment-content-header-r {
    background: white;
    padding: 6px;
    padding-top: 8px;
    color: #797c7e;
    border-radius: 10px;
    font-weight: 700;
    border: 1px solid #797c7e;
    border-color: #797c7e50;
}