* {
    display: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    background: #bbc6fb36;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    flex: 1;
}

.sidebar-btn {
    color: #797c7e;
}


/*----------------------- Header------------------------ */

.header {
    flex: 5;
    padding-top: 2em;
}

.patient-icon {
    color: #2d55ff;
    font-size: 4em;
    margin-top: -5px;
}

.patient-name {
    font-weight: 700;
}

.searchbar {
    margin-right: 1em;
}

.searchInput {
    border-color: #797c7e50;
    border-radius: 16px;
    padding: 5px 20px 5px 16px;
    background: transparent;
}

.searchInput::placeholder {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #797c7e;
}

.searchInput:hover,
.searchInput:focus {
    outline: none;
    border-color: #797c7e50;
}

.add-btn {
    background: #2d55ff;
    color: white;
    width: 30px;
    height: 30px;
    padding: 1em;
    margin-right: 1em;
    border-radius: 50%;
}

.add-btn:hover,
.add-btn:focus {
    text-decoration: none;
    color: white;
    transform: scale(1.1);
}

.notification-btn {
    border-radius: 50%;
    color: #797c7e;
    background: white;
    margin-right: 2.8em;
    width: 36px;
    height: 36px;
    padding: 1em;
    border: 1px solid #797c7e;
    border-color: #797c7e50;
}

.notification-btn:hover,
.notification-btn:focus {
    text-decoration: none;
    transform: scale(1.1);
}


/* ------------------------------ Breadcrumb --------------------------------- */

.breadcrumb-patient-name {
    font-weight: 700;
    text-decoration: none;
    padding-left: 1em;
}

.print-btn {
    color: #797c7e;
    background: white;
    padding: 5px;
    height: 2.3em;
    text-align: center;
    border: 1px solid #797c7e;
    border-color: #797c7e50;
    border-radius: 6px;
}

.editProject-btn {
    background: white;
    color: #797c7e;
    padding: 5px;
    border: 1px solid #797c7e;
    border-color: #797c7e50;
    border-radius: 6px;
}

.editProject-title {
    margin-left: 10px;
    font-weight: 600;
}


/* ------------------------------ Main content --------------------------------- */

.upper-container-app {
    width: 100vw;
}

.lower-container-app {
    max-width: 70vw;
}